@model PagedList<ecvAdminUI.Models.Catalog.CategoryListModel>

@using ecvLib.Core
@using ecvLib.Core.HtmlHelpers


@{
    ViewBag.Title = "Categories List";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Categories List (@Model.TotalCount)</h1>

    <p>
        @Html.ActionLink("Create New", "New")
    </p>

    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Published</label>
            </th>
            <th>
                <label>Display Order</label>                
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { categoryID = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { categoryID = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { categoryID = item.Id })
                </td>
            </tr>
        }

    </table>

    <div class="col-sm-10">
        <div class="center-block">

            @Html.PageLinks(Model, x => Url.Action("List", new { pageIndex = x }))
        </div>
    </div>

</div> @*End of main DIV*@
